.DS_Store
*.log
._*
.~lock.*
deployment.properties
.buildpath
.settings
.project
.svn
*.local
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

backend/vendor
node_modules
logs
dist
dist-ssr
coverage

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

!.placeholder
!.gitkeep
!.gitignore
